{% extends 'base.html' %}

{% block title %}{{tarea.title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card detalle text-white bg-info mb-3">
                <div class="card-body">
                    <h1 class="card-title">{{tarea.title}}</h1>
                    <p>{{error}}</p>
                    <p class="card-text">{{tarea.description}}</p>
                    <p class="card-text">Estado:
                        {% if tarea.state %}
                            Completado
                        {% else %}
                            Incompleto
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('toggleEstado', id=tarea.id)}}" class="btn btn-success">Cambiar estado</a>
                    <a href="{{url_for('eliminarTarea', id=tarea.id)}}" class="btn btn-danger">Eliminar Tarea</a>
                    <a href="{{url_for('index')}}" class="btn btn-light">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}